/* /|========[FONTS]========\ */
@font-face {
  font-family: "retro gaming";
  src: url(fonts/retro_gaming.ttf);
}
@font-face {
  font-family: "yoster";
  src: url(fonts/yoster.ttf);
}
@font-face {
  font-family: "DPComic";
  src: url(fonts/dpcomic.ttf);
}

/* /|========[RESET]========|\ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  font-family: "DPComic", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* /|========[REUSABLE]========|\ */
.btn {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  border: none;
  transition: all 0.3s;
}

.btn--big {
  font-size: 22px;
  padding: 8px 16px;
}

.flex-center--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text--center {
  text-align: center;
}

/* /|========[START SCREEN]========|\ */
.start-screen {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  background-color: #fff;
}

.startGameBtn {
  background-color: black;
  color: #fff;
}
.startGameBtn:hover {
  background-color: rgb(41, 41, 41);
}

.hidden {
  display: none;
}

/* /|========[GAME CONTAINER]========|\ */
.game {
  position: relative;
  width: 550px;
  aspect-ratio: 1/1;
}

.screen {
  margin-bottom: 70px;
}

.enemy-container {
  position: relative;
}

.store-container {
  border: 1px solid rgba(0, 0, 0, 0);
}

.stats {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}

/* /|========[TITLE]========|\ */
.heading {
  font-size: 10px;
  margin-top: 42px;
  margin-bottom: 48px;
}

/* /|========[ENEMY INFO]========|\ */
.enemy-description {
  text-align: center;
}

.name {
  font-size: 32px;
  font-size: italic;
  margin-bottom: 2px;
}

.about {
  font-size: 20px;
  color: rgb(70, 70, 70);
  margin-bottom: 26px;
}

.health {
  font-size: 22px;
  font-style: italic;
  color: #b30000;
  margin-bottom: 4px;
}

/* /|========[ENEMY AREA]========|\ */
.main-image {
  height: 400px;
  width: 400px;
  margin-bottom: 24px;
  user-select: none;
}

.main-image img {
  position: absolute;
  width: 400px;
}

.inimigo {
  z-index: 20;
  transition: transform 0.3s;
}

.inimigo:active {
  transform: scale(1.1);
}

/* /|========[ EXPLOSION ]========|\ */

.explosao.explodindo {
  pointer-events: none;
  display: block;
  z-index: 99;
}

.explosao.parada {
  display: none;
  z-index: -1;
}

.dialogue {
  position: absolute;
  right: -200px;
  top: 150px;
  width: 100px;
  font-size: 22px;
  text-align: right;
}

/* /|========[SLASH ANIMATION]========|\ */
.attack-animation {
  position: absolute;
  z-index: 999;
  height: 200px;
  aspect-ratio: 1/1;
  pointer-events: none;
}

/* /|========[CHANGE THEME BUTTON]========|\ */
.changeThemeBtn {
  position: absolute;
  top: 60px;
  right: 60px;
  font-size: 18px;
  padding: 3px 6px;
}

/* /|========[STORE]========|\ */
.shop {
  margin-top: 24px;
}
.shop-weapons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 12px;
  align-items: center;
  justify-items: center;
}
.shop-weapon {
  width: 50px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shop-weapon--active {
  background-color: #000;
  color: #fff;
}

.changeScreenBtn {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
}

/* /|========[STORE]========|\ */

.lojinha {
  position: absolute;
  left: -200px;
  top: 150px;
  width: 100px;
  font-size: 22px;
  text-align: left;
  font-family: monospace;
}

.btn--buy-cursor {
  padding: 6px 12px;
  font-size: 18px;
}
