* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "comic-sans", sans-serif;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inimigo {
  height: 400px;
  width: 400px;
  background-color: red;
  margin-bottom: 12px;
}

.heading {
  margin-bottom: 24px;
}
.name {
  font-size: italic;
  font-size: 22px;
  margin-bottom: 4px;
}
.health {
  margin-bottom: 4px;
  font-style: italic;
}

.attackBtn {
  border: 0;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  cursor: pointer;
  border: 1px solid #ffffff00;
}

.attackBtn:hover {
  border: 1px solid red;
}

.description {
  margin-bottom: 12px;
  color: rgb(70, 70, 70);
}

.dialogue {
  position: absolute;
  right: -100px;
  width: 100px;
  text-align: right;
}
